.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6{
    color: black;
    margin: 24px 0 16px;
}

.markdown-body h1 {
    font-weight: 900;
    font-size: 1.6em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding-bottom: 0.3em;
}

.markdown-body h2 {
    font-weight: 800;
    font-size: 1.4em;
   border-bottom: 1px solid rgba(0, 0, 0, 0.36);   
   padding-bottom: 0.2em;
}

.markdown-body h3 {
    font-weight: 600;
    font-size: 1.3em;
   border-bottom: 1px solid rgba(0, 0, 0, 0.18);
   padding-bottom: 0.1em; 
}

.markdown-body h4 {
    font-weight: 600;
    font-size: 1.2em;    
}

.markdown-body h5 {
   font-weight: 600;
    font-size: 1.2em;    
}

.markdown-body h6 {
    font-weight: 600;
    font-size: 1.2em;    
}

.markdown-body :not(pre):not(.hljs) > code { 
    font-family: Consolas,"Courier New",monospace;    
    background: none;
    margin: 0px;
    padding: 0px;
}

.markdown-body code {
        color: #004d9c;
}

.hljs-string,
.hljs-doctag {
  color: #a62e00;
}

.markdown-body pre code > div {
   
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
}

.markdown-body table, p, pre, blockquote{
   margin-left: 24px;
   margin-top: 16px;
}

.markdown-body :not(td)>img {    
    margin-left:24px;
    margin-right:16px;
}

.markdown-body td>img {    
    margin-left:0px;
    margin-right:0px;
    margin-top: auto;
    margin-bottom:auto;
    vertical-align: center;
    max-width: none;
    background:none;
}

.markdown-body .framed {
    background-color: #f8f8f8;
	border: 1px solid #cccccc;
    border-radius: 3px;    
    padding: 4px;
}
.markdown-body .smallImage {   
    
    width:auto; 
    height:48px; 
    float:left;
    
}

.markdown-body .mediumimage {   
    
    width:auto; 
    height:64px; 
    float:left;
    
}
nav[data-toggle='toc'] {
  margin-left: 24px;
  margin-top: 24px;
}

.content {
  
    background-color: white; 
}

@media print {
   #structure { display:none; }
   #printarea { display:block; }
}